<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-offset-3 col-lg-6">
     <h2><b>内蒙古呼和浩特行记（二）:别了，希拉穆仁</b></h2>
      <div  class="middle">
      <div  class="author">
        <a href="" class="icon">
          <img src="./../../assets/images/user_icon.jpg" alt="">
        </a>
       </div>
        <div class="informal">
        <span class="meta">
          <a href="">作者</a>
        </span>
         <a href="" class="name">晴子</a>
          <button>+关注</button>
          <br>
          <span class="publish_date">2017-09-18</span>
         </div>
      </div>

      <div class="article">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          四天五夜的草原行结束了，跟团旅游就是这样，行程安排紧凑有效，
          但一路只能是走马观花，看风景，来不及赏风景，看牧民生活，来不及体验牧民的生活，
          所以几天下来，收获了满心的欢乐，留下了满身的疲惫，心灵放飞了，眼皮收紧了，
          和导游挥手再见后只想着快点上车能踏踏实实睡一觉。谁知真上了车，却又睡不着了，
          于是便琢磨着把这几天的行旅梳理梳理，
          以备时间老去后还能在逝去的青春里找到一丝丝的印记。
          随着年龄的增长，这些年总觉着自己虚度了太多的光阴，蹉跎了太多的岁月，世界那么大，
          我也想去看看，原来内心还在守着一个信念：率性而为，便是风流。于是检视过去，
          才发现自己原来是一个十足可怜的囚徒。
       </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          这一次的导游是个年轻的小伙，本地人，毕业才几年的时间，
          工作很是认真负责。除了景点介绍，他讲的最多的就是元朝那属于蒙古人的历史了，
          言语中透着蒙古人的自豪，可以想象，这里的蒙古人也都会象他一样，
          牢牢记住这段只有短短几十年却无比辉煌的历史，这是一个族群的骄傲，
          也是他们的精神食粮。我没问为什么元朝那么强悍，却只延续了短短几十年，
          史书典籍早已给出了答案，我还是希望能自己在草原上印证。

        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          这一次的导游是个年轻的小伙，本地人，毕业才几年的时间，
          工作很是认真负责。除了景点介绍，他讲的最多的就是元朝那属于蒙古人的历史了，
          言语中透着蒙古人的自豪，可以想象，这里的蒙古人也都会象他一样，
          牢牢记住这段只有短短几十年却无比辉煌的历史，这是一个族群的骄傲，
          也是他们的精神食粮。我没问为什么元朝那么强悍，却只延续了短短几十年，
          史书典籍早已给出了答案，我还是希望能自己在草原上印证。

        </p>
      </div>

      <div  class="bottom">
        <div  class="left">
          <div  class="author">
          <a href="" class="icon">
            <img src="./../../assets/images/user_icon.jpg" alt="">
          </a>
          </div>
           <div class="informal">
               <span class="meta">
               <a href="">作者</a>
               </span>
               <a href="" class="name">晴子</a>
               <br>
                <span class="publish_date">2017-09-18</span>
           </div>
        </div>
        <div  class="right">
        <button class="btn">+关注</button>
      </div>
      </div>
   <div class="support-author">
        <p>如果觉得我的文章对您有用，请随意赞赏，你的赞赏将鼓励我的创作</p>
        <div class="btn-pay">赞赏支持</div>
         <div class="supporter">
           <ul class="support-list">
             <li><a href="">
               <img src="./../../assets/images/user_icon.jpg" alt="">
             </a></li>
             <li><a href="">
               <img src="./../../assets/images/user_icon.jpg" alt="">
             </a></li>
             <li><a href="">
               <img src="./../../assets/images/user_icon.jpg" alt="">
             </a></li>
             <li><a href="">
               <img src="./../../assets/images/user_icon.jpg" alt="">
             </a></li>
             <li><a href="">
               <img src="./../../assets/images/user_icon.jpg" alt="">
             </a></li>
             <li><a href="">
               <img src="./../../assets/images/user_icon.jpg" alt="">
             </a></li>
           </ul>
         </div>
   </div>
    <div  class="comment-self">
      <div>
        <form>
         <a href=""><img style="height: 40px;width: 40px" src="./../../assets/images/user_icon.jpg" alt=""></a>
         <textarea placeholder="写下的评论..."></textarea>
        </form>
      </div>
      <div class="count">
        <div class="left">
        <span><b>61条评论</b></span>
        <button >只看作者</button>
        </div>
        <div class="right">
          <ul class="sort">
            <li><a href="">按喜欢排序</a></li>
            <li><a href="">按时间倒序</a></li>
            <li><a href="">按时间正序</a></li>
          </ul>
        </div>
      </div>
    </div>

      <div>
        <app-artical-comment></app-artical-comment>
      </div>
    </div>

  </div>

</div>
